*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    user-select: none;
}

.tasbeh__wrap{
    max-width: 425px;
    height: 100vh;
    margin: auto;
    position: relative;
    overflow: hidden;
    z-index: 5;
}
.tasbeh__navbar{
    width: 100%;
    height: auto;
}
.tasbeh__navbar_tiitle{
    width: 100%;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #109484;
}
.tasbeh__navbar_tiitle h1{
    text-align: center;
    font-weight: 400px;
    font-size: 24px;
    color: white;
}
.tasbeh__navbar_funksiya{
    width: 100%;
    height: auto;
    padding: 20px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.tasbeh__navbar_funksiya img{
    width: 30px;
}
.count_input_btn{
    width: 40%;
    padding: 10px 15px;
    background-color: white;
    font-size: 16px;
    border-radius: 20px;
    border: 2px solid #1094855f;
    margin-left: 60px;
}
.tasbeh_content{
    width: 100%;
    height: auto;
    margin: auto;
}
.tasbeh_count{
    width: 200px;
    height: 200px;
    border: 10px solid #1094855f;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tasbeh_count_h1{
    text-align: center;
    margin: auto;
    font-size: 24px;
    /* font-size: 54px; */
    color: #109484;
    cursor: pointer;
    user-select: none;
}


/* footer qismi */
.tasbeh_footer{
    width: 100%;
    height: auto;
    padding: 15px 15px;
    background-color: rgb(246, 246, 246);
    border: 4px solid rgb(238, 238, 238);
    border-bottom: 0px;
    border-left: 0px;
    border-right:0px ;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    bottom: 0;
}
.tasbeh_footer_h1{
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    color: black;
    cursor: pointer;
}


/* popup modal */

.tasbeh_popup_input{
    width: 100%;
    height: 100vh;
    margin: auto;
    position: fixed;
    overflow: hidden;
    z-index: 11;
    background-color: #1094854a;
    top:0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.tasbeh_popup_form{
    width: 60%;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.tasbeh_popup_form h2{
    font-size: 18px;
    color: #109484;
    text-align: center;
}
.tasbeh_popup_form .count_input{
    width: 100%;
    padding: 10px 5px;
    border: 2px solid #109484;
    outline: none;
    border-radius: 10px;
    font-size: 14px;
}

.tasbeh_popup_btns{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn{
    width: 45%;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    background-color: #109484;
    color: white;
}


/* bildirishnoma */

@keyframes bildirishnoma {
    from {
        top: -100px;
    }
    to {
        top: 10px; /* Oxirgi holat */
    }
}
.ilova_download{
    width: 80%;
    height: 50px;
    padding: 15px 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(246, 246, 246);
    border: 4px solid rgb(238, 238, 238);
    border-radius: 10px;
    position: absolute;
    top: -100px; /*Ekrandan tashqarida boshlanadi*/
    /* top: 0; */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    animation: bildirishnoma 1s ease-out 4s forwards; /*Animatsiya qo'shildi*/
}
.ilova_download a{
    text-decoration: none;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #109484;
}

.ilova_download img{
    width: 30px;
}


.info{
    width: 150px;
    height: 100px;
    background-color: rgb(244, 244, 244);
    position: absolute;
    top: 0;
    margin-left: 40px;
    margin-top: 110px;
    border-radius: 0px 10px 10px 10px;
    padding: 5px;
    border: 0.5px solid gray;
    display: block;
}

.info a{
    text-decoration: none;
    font-size: 14px;
    color: #109484;
}
.info p{
    font-size: 14px;
    color: black;
}

.info_btn {
    cursor: pointer;
}

.display_none{
    display: none;
}