*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.wrap{
    max-width: 414px;
    width: 100%;
    height: 100vh;
    background: url(img/tasbeh_bg.jpg) no-repeat center center / cover;
    margin: auto;
    /* padding: 15px 20px; */
    box-sizing: border-box;
    overflow: hidden;
}
.content{
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.islamic_patern{
    width: 95%;
    margin-top: 70px;
    position: relative;
    z-index: 0;

}
.counth1{
    font-size:80px;
    color: white;
    font-weight: bold;
    position: absolute;
    text-align: center;
    margin-top: 220px;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bottom__content{
    width: 100%;
    transform: scale(120%);
    height: 200px;
    background-color: #de9016;
    margin-top: 80px;
    border-top-left-radius: 190px;
    border-top-right-radius: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.countbtn{
    width: 140px;
    height: 140px;
    background-color: #00584d;
    margin: auto;
    border-radius: 50%;
    border: none;
    border-top:solid 2px white;
    border-bottom:solid 2px #024840;
    margin-bottom: 150px;
    position: absolute;
    z-index: 11;
    font-size: 60px;
    font-weight: bold;
    color: white;
}
.bottom__content_navbar{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.bottom__content_navbar img{
    width: 30px;
    margin-top: 60px;
}